In [3]:
import numpy as np
import pandas as pd

In [4]:
# GO:0150076 neuroinflammatory response 
# https://www.ebi.ac.uk/QuickGO/term/GO:0150076

f = '/bigstore/GeneralStorage/fangming/projects/dredfish/res_seq/GO_term_neuroinflammation.csv'
df = pd.read_csv(f)
df

    MGI Gene/Marker ID     Gene
0            MGI:99677    Adcy1
1          MGI:1341110    Adcy8
2            MGI:99402  Adora2a
3           MGI:893592     Ager
4           MGI:893592     Ager
..                 ...      ...
138        MGI:2147036    Ttbk1
139        MGI:1277211   Tyrobp
140        MGI:1277211   Tyrobp
141        MGI:1921622     Ulk4
142        MGI:2178798    Vps54

[143 rows x 2 columns]

In [5]:
df['Gene']

0        Adcy1
1        Adcy8
2      Adora2a
3         Ager
4         Ager
        ...
138      Ttbk1
139     Tyrobp
140     Tyrobp
141       Ulk4
142      Vps54
Name: Gene, Length: 143, dtype: object